.weather-container{
    width: 85%;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.title{
    font-size: 25px;
    margin: 25px 0;
}
.form{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.toggle{
    cursor: pointer;
}
.weather-details-container{
    margin: 30px 0px;
    border: 1px solid black;
    padding: 25px;
}
span{
    color:rgb(231, 8, 52);
}